body {
    background-color: aquamarine;
    color: black;
    font-family: Arial;
    margin: 0px;
}

header {
    background-image: linear-gradient(to right, red, orange, yellow, green, lightblue, blue, purple);
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
}

footer {
    background-image: linear-gradient(to right, red, orange, yellow, green, lightblue, blue, purple); 
    color:lightgreen;
    padding: 10px;
    font-style: italic;
    text-align: right;
}

a {
    text-decoration:none;
    color: green;
}

a:visited {
    color:purple
}
a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
}

a:active {
    color: pink;
    background-color: green;
}