body {
    background-color: aquamarine;
    color: black;
    font-family: Arial;
    margin: 0px;
}

header {
    background-image: linear-gradient(to right, red, orange, yellow, green, lightblue, blue, purple);
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
    transition: 1s;
}

header:hover {
    font-size: 30px;
    color: black;
}

header:active {
    font-size: 60px;

}

main {
    margin: 10px 20px;
}

footer {
    background-image: linear-gradient(to right, red, orange, yellow, green, lightblue, blue, purple); 
    color:lightgreen;
    padding: 10px;
    font-style: italic;
    text-align: right;
    transition: 1s;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

footer:hover {
    font-size: 30px;
    color: black;
}

footer:active {
    font-size: 60px;

}

a {
    text-decoration:none;
    color: green;
    transition: 2s;
}

a:visited {
    color:purple;
}
a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    text-shadow: 1.5px 1.5px 2px gray;
    transition: 0.3s;
}

a:active {
    color: pink;
    background-color: green;
}